#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    .cards {
        max-width: 80vw;
        display: flex;
        gap: 10px;
        padding: 25px;
        overflow-x: scroll;
        flex-flow: row;
    }
}
